
@font-face {
  font-family: 'Merienda';
  src: url("../../fuentes/Merienda-Bold.ttf");
  font-style: bold;
  font-weight: bold;
}
@font-face {
  font-family: 'Merienda';
  src: url("../../fuentes/Merienda-ExtraBold.ttf");
  font-style: bold;
  font-weight: 800;
}


.fContenGlob {
   display: flex;
   justify-content: center;
  align-items: flex-end;
   background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.7)
  ),
    url("../../img/logo-R_M.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    block-size: 100vh;
    overflow: auto;
    inline-size: 80rem;
    width: 100%;
}

.fContenGlob::after{
  content: "";
  background-color: transparent;
  position: absolute;
  inline-size: 80rem;
  width: 100%;
  block-size: 100vh;
  left: 0;
  top: 0;
  opacity: 0.5;
}

.fConten {
  display: flex;
  position: relative;
  z-index: 1;
  block-size: 22rem;
  inline-size: 41rem;
  border: 2px dashed #cde5f7;
  padding: 2rem;
  color: #cde5f7;
  margin-block-end: 2rem;
}


.fTitle {
  font-family: 'Merienda', cursive;
  font-weight: 800;
  font-size: 2rem;
   
}
.fTitle h1 {
  margin-block-start: 1rem;
}

.credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  }

.credentials label {
  font-family: 'Merienda';
  font-weight: bold;
}

.credentials input {
  background-color: #ecc27e;
  border: 2px solid #cde5f7;
  border-radius: 5px;
  border: none;
  margin: 1.5rem;
  block-size: 1.5rem;
  inline-size: 13.5rem;
  }
.credentials input:focus {
  outline: none;
}

.credentials span {
  color: red;
  font-size: 12px;
  font-weight: 500;
}

.subBtn {
  border-radius: 5px;
  border: solid 1px #373337;
  background: rgb(44, 46, 49);
  color: #cde5f7;
  inline-size: 9rem;
  block-size: 2.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: 'merienda'
  
}

.subBtn:hover {
  box-shadow: inset 0 0 8px #39ff14;
    font-size: 1.4rem;
}

.subBtn:active {
  transform: scale(0.95);
}
